
{% extends "base.html" %}
{% block page_content %}

    {% if user.is_authenticated %}
      <div class="share">
        <h5 class="text-center">share</h5>
        <form method="Post">
        {% csrf_token %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <input type="text" id="addname" name="adduser" placeholder="username"> 
        <br/>
  <button type="submit" class="button is-success" > Submit</button>
    </form>
</div>
</div>
    {% endif %}


   {%endblock%}