{% extends "base.html" %}

{% block page_content %}
<div class="content">
    <h1>{{ note.title }}</h1>
    {% for i in note.user.all%}
    {%if user == i %}
    <p>Users : 
        {%for i in note.user.all%}
        <span class="tag" class="subtitle">{{i}} </span>
        {%endfor%}
    </p>
        <p>Last updated by <b><span style="color:green;">{{ note.last }}</span></b> on {{note.last_date}}</p>
        {%endif%}
        {% endfor%}

        <div class="box">
        <p >{{note.write|linebreaks }}</p>
    </div>
        <br>

<button class="button is-light" onclick="window.location.href='{%url 'notes:notes' %}'">Back</button>
{% for i in note.user.all%}
    {%if user == i %}
        <button class="button is-light" onclick="window.location.href='{%url 'notes:update' note.id %}'">Edit</button>
        {%if user.username != note.creator%}
        <button class="button is-light" onclick="window.location.href='{%url 'notes:remove_self' note.id %}'">Remove Yourself </button> 
        {%endif%}
    {%endif%}
{% endfor%}
{% ifequal user.username note.creator %}
    <button class="button is-light" onclick="window.location.href='{%url 'notes:share' note.id %}'">Share</button>
    <button class="button is-warning "onclick="window.location.href='{%url 'notes:delete' note.id %}'">Delete</button>
        <button class="button is-warning "onclick="window.location.href='{%url 'notes:remove' note.id %}'">Remove user</button>

{% endifequal %}
</div>
<br>
<div class="comment"> 
    {%if user.is_authenticated%}
    To post a comment <a href="{%url 'notes:comments' note.id %}">click here</a>
    {%else%}
    To post a comment, Please login <a href="{%url 'notes:login' %}">click here</a>
    {%endif%}
    <br/>
    {%if note.comment_set.count%}
    <p><b> Comments:</b></p>
    {% for comment in note.comment_set.all %}
    <p>
        On {{comment.created_on.date }} <br/>
        <b>{{ comment.author }}:</b>
    {{ comment.body }}</p>
    <hr>
    {% endfor %}
    {%else%} 
    <p> No comments to show </p>
    {%endif%} 
</div>



{% endblock %}