{% extends "base.html" %}
<style type="text/css" background-color: black;
  color: white;></style>
{% block page_content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div  {% if message.tags %} class="notification is-{{ message.tags }}"{% endif %}>
    <button class="delete"  onclick="window.location.href='{%url 'notes:detail' note.id %}'" ></button>
    {{ message }}
</div>
    {% endfor %}
</ul>
{% endif %} 

<div class="content">
    <h1>{{ note.title }}</h1>
    {% for i in note.user.all%}
    {%if user == i %}
    <p>Users : 
        {%for i in note.user.all%}
        <span class="tag" class="subtitle">{{i}} </span>
        {%endfor%}
    </p>
        <p>Last updated by <b><span style="color:green;">{{ note.last }}</span></b> on {{note.last_date}}</p>
        {%endif%}
        {% endfor%}
        <div class="box">
        <p >{{note.write|linebreaks }}</p>
    </div>
        <br>

<button class="button is-light" onclick="window.location.href='{%url 'notes:notes' %}'">Back</button>
{% for i in note.user.all%}
    {%if user == i %}
        <button class="button is-light" onclick="window.location.href='{%url 'notes:update' note.id %}'">Edit</button>
        {%if user.username != note.creator%}
        <button class="button is-light" onclick="window.location.href='{%url 'notes:remove_self' note.id %}'">Remove Yourself </button> 
        {%endif%}
    {%endif%}
{% endfor%}
{% if user.username == note.creator %}

    <button class="button is-light" onclick="window.location.href='{%url 'notes:share' note.id %}'">Share</button>
    <button class="button is-warning "onclick="window.location.href='{%url 'notes:delete' note.id %}'">Delete</button>
        <button class="button is-warning "onclick="window.location.href='{%url 'notes:remove' note.id %}'">Remove user</button>
    {%if userform%}
    <form action="{% url 'notes:share' note.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br/>
        {{userform}}
    </form>
    {%else%}{% if removeform%}
    <form action="{% url 'notes:remove' note.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br/>
        {{removeform}}
    </form>
        {%endif%}

    {%endif%}
{% endif %}


</div>
<br>
<div class="comment"> 
    {%if user.is_authenticated%}
    To post a comment <a href="{%url 'notes:comments' note.id %}">click here</a>
     <form action="{% url 'notes:comments' note.id %}" method="post">
        {% csrf_token %}
        {{form}}
    </form>
    {%else%}   
    To post a comment, Please login <a href="{%url 'notes:login' %}">click here</a>
    {%endif%}
    <br/>
    {%if note.comment_set.count%}
    <p><b> Comments:</b></p>
    {% for comment in note.comment_set.all reversed %}
    {%if comment.reply_id is NULL%}
    <div class="box" style="background-color: #222222;
  color: white; ">
       <b>{{ comment.author }}</b> <small> {{comment.created_on.date }}</small> <br/>
    {{ comment.body }}
    <br/>
    <form action="{% url 'notes:reply' note.id comment.id%}" method="get">
        {% csrf_token %}
        <input name="q" type="text" class="form-control" placeholder="Reply...">
    </form>
    {% for comment in comment.comment_set.all reversed %}
    <div class="box" class = 'left' box-padding=0.5rem>
       <b>{{ comment.author }}</b> <small> {{comment.created_on.date }}</small> <br/>
    {{ comment.body }}
    <br/>
</div>
{%endfor%}
</div>
<hr>
    {%endif%}
    {% endfor %}
    {%else%} 
    <p> No comments to show </p>
    {%endif%} 
</div>



{% endblock %}