{% extends "base.html" %}

{% block page_content %}
<div class="content">
    <h1>{{ note.title }}</h1>
            
        <p>{{note.write|linebreaks }}</p>
        <br>
        



<button onclick="window.location.href='{%url 'notes:notes' %}'">Back</button>
<button onclick="window.location.href='{%url 'notes:update' note.id %}'">Edit</button>
{% if user.is_authenticated %}
<button onclick="window.location.href='{%url 'notes:share' note.id %}'">Share</button>
    {% endif %}

</div>
<br>
<div class="comment"> 
    {%if user.is_authenticated%}
    To post a comment <a href="{%url 'notes:comments' note.id %}">click here</a>
    {%else%}
    To post a comment, Please login <a href="{%url 'notes:login' %}">click here</a>
    {%endif%}
    <br/>
    {%if note.comment_set.count%}
    <p><b> Comments:</b></p>
    {% for comment in note.comment_set.all %}
    <p>
        On {{comment.created_on.date }} <br/>
        <b>{{ comment.author }}</b>
    {{ comment.body }}</p>
    <hr>
    {% endfor %}
    {%else%} 
    <p> No comments to show </p>
    {%endif%} 
</div>

{% endblock %}