<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>New Note</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style> ul.errorlist{display:none}</style>
</head>
<body>



	<form method="POST">
		{% csrf_token%}

		{{form}}
		<br/>
		<button type="submit"> Submit</button>
		<button onclick="window.location.href='{%url 'notes:notes' %}'">Cancel</button>
	</form>

	{%if form.errors%}
	<div class= "alert alert-danger my-5">
		{{form.errors.title.as_text}}
	</div>
	{%endif%}


</body>
</html>