<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
    <body>

        <form method="POST">
          {% csrf_token %}
          Email:
          <input type="email" name ="Email"> <br/>
          Fav color:
          <input type="color" name="color" value="#0000ff"><br/>
          password:
          <input type="password" name="pass"><br/>
          Date: 
          <input type="date" name="date" value="2000-01-13"><br/>
          <input type="submit" name="post" value="Submit">
	    <input type="reset"> 
        </form>
<div class="carousel-container">
            
<a name="home/hero-carousel-texts-1" style="position:absolute;"></a>
<div class="hero-carousel-texts">
  
    <div class="hero-carousel-text">
      
      <div class="heading">
        <p class="p-title hero-carousel-text-heading">WORK ANYWHERE</p>
      </div>
      
      
      <div class="description">
        <p class="p-small">Keep important info handy—your notes sync automatically to all your devices.</p>
      </div>
      
    </div>
  
    <div class="hero-carousel-text">
      
      <div class="heading">
        <p class="p-title hero-carousel-text-heading">REMEMBER EVERYTHING</p>
      </div>
      
      
      <div class="description">
        <p class="p-small">Make notes more useful by adding text, images, audio, scans, PDFs, and documents.</p>
      </div>
      
    </div>
  
    <div class="hero-carousel-text">
      
      <div class="heading">
        <p class="p-title hero-carousel-text-heading">TURN TO-DO INTO DONE</p>
      </div>
      
      
      <div class="description">
        <p class="p-small">Bring your notes, tasks, and schedules together to get things done more easily.</p>
      </div>
      
    </div>
  
    <div class="hero-carousel-text">
      
      <div class="heading">
        <p class="p-title hero-carousel-text-heading">FIND THINGS FAST</p>
      </div>
      
      
      <div class="description">
        <p class="p-small">Get what you need, when you need it with powerful, flexible search capabilities.</p>
      </div>
      
    </div>
  
</div>

          </div>
        
      </div>

    </div>
  </div>
</div>


    </body>
</html>
