{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1 class =" title is-1"> Open Notes </h1>
<div class="row">
{% for project in note %}
    <div class="col-md-4">
        <div class="card mb-2">
           
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.date }}</p>
                <a href="{% url 'notes:detail' project.pk %}"
                   class="btn btn-primary">
                    Read 
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br/>
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  {%endif%}
<form action="{%url 'notes:newnote'%}" method="POST">
	{%csrf_token%}
	<button class="button is-dark" type="submit"> New Note</button>
	

</form>
{%endblock%}
